In [134]:
#SQL
print("Hello World")
import pymysql

Hello World

In [135]:
db = pymysql.connect(host = 'localhost', port = 3306, user = 'root', passwd = 'Rkdgkghgk1@', db = 'mysql', charset='utf8')

In [136]:
db

In [137]:
ecommerce = db.cursor()

In [138]:
ecommerce

In [139]:
sql = """
    CREATE TABLE IF NOT EXISTS products (
        product_code VARCHAR(20) NOT NULL,
        title VARCHAR(20) NOT NULL,
        price INT
    );
"""

In [140]:
ecommerce.execute(sql)

0

In [141]:
sql2 = """
    INSERT INTO products VALUES ("zbc", "bbb", 3000);
    """
ecommerce.execute(sql2)

1

In [142]:
sql3 = """ALTER TABLE products ADD COLUMN lowest_price INT UNSIGNED;"""
ecommerce.execute(sql3)

0

In [143]:
db.commit()
db.close()